a {
  text-decoration: none;

  .project-mini {
    height: 240px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: box-shadow 0.1s linear;

    .project-mini-title {
      background-color: black;
      color: white;
      padding: 0.25rem;
      border-radius: 0px 0px 5px 5px;
      font-weight: bold;
      text-transform: uppercase;
      width: inherit;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &:hover {
      box-shadow: 0px 0px 5px black;
    }
  }
}
