header {
  .header-less-than-lg {
    @media screen and (min-width: 992px) {
      display: none;
    }

    nav {
      text-transform: uppercase;
      box-shadow: 0px 0px 5px black;

      &.navbar {
        .navbar-brand {
          font-weight: bold;

          .navbar-img {
            width: 30px;
            height: 30px;
            box-shadow: 0px 0px 5px black;
            border-radius: 5px;
          }
        }

        .navbar-toggler {
          border: 0;
        }

        .navbar-nav {
          .nav-item {
            margin-top: 0.25rem;

            .nav-link {
              padding-top: 0.25rem;
              padding-bottom: 0.25rem;
              transition: opacity 0.1s linear;

              &.active {
                font-weight: bold;
              }

              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }

  .header-lg {
    @media screen and (max-width: 991px) {
      display: none;
    }

    .profile-img {
      width: 100%;
      box-shadow: 0px 0px 5px black;
      border-radius: 5px;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    nav {
      ul {
        text-transform: uppercase;
        padding-left: 0;

        li {
          list-style-type: none;
          padding-left: 0;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;

          a {
            color: black;
            text-decoration: none;
            transition: opacity 0.1s linear;

            &.active {
              font-weight: bold;
            }

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
