<section class="contact">
  <h2 class="text-uppercase mb-4">Redes de contacto</h2>

  <a href="https://www.linkedin.com/in/cristiancajiaos" target="_blank">
    <i class="fab fa-linkedin fa-fw"></i> Cristian Cajiao
  </a>

  <a href="mailto:cristiancajiaos@mail.com">
    <i class="fas fa-envelope fa-fw"></i> cristiancajiaos@gmail.com
  </a>

  <a href="https://twitter.com/cristiancajiaos" target="_blank">
    <i class="fab fa-twitter fa-fw"></i> @cristiancajiaos
  </a>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu libero sed tortor pulvinar gravida vitae a
    felis. Nulla feugiat pulvinar mi a tempor. Quisque quis feugiat ipsum. Quisque volutpat, nunc non feugiat viverra,
    mauris sem venenatis quam, ut hendrerit nisi est sed arcu. Vivamus vitae eleifend mauris. Suspendisse aliquam nisi
    vel mauris sagittis molestie in sed ligula. Nam quis leo metus. Aliquam mollis accumsan mauris, eget fringilla
    turpis vestibulum sed. Proin sed scelerisque orci, sit amet interdum velit. Phasellus ac mauris pellentesque, mattis
    eros aliquam, ultricies leo. Duis molestie leo id maximus cursus.</p>
</section>
