<section class="project" *ngIf="!loading; else loadingProject">
  <div *ngIf="isPortfolioElement; else noProject">
    <header [ngStyle]="currentBackgroundProperties">
      <h1 class="text-uppercase">
        {{portfolioElement.title}}
        <small>({{portfolioElement.year}})</small>
      </h1>
      <a *ngIf="hasBackgroundImage" ngbTooltip="Ver imagen a pantalla completa" placement="top" (click)="showLightbox(0)">
        <i class="fas fa-expand fa-fw"></i>
      </a>
    </header>

    <main>
      <section class="basic-info">
        <div class="d-flex flex-column flex-lg-row justify-content-lg-between align-items-center">
          <div class="mb-4">
            <i class="fab fa-2x fa-fw" *ngFor="let tool of portfolioElement.tools" [ngClass]="tool.icon"
              [ngbTooltip]="proyectUsed(tool.name)" placement="bottom"></i>
          </div>
          <div class="mb-4">
            <a [href]="portfolioElement.sampleUrl" target="_blank" class="sample-link"
              *ngIf="portfolioElement.sampleUrl"
              ngbTooltip="Está disponible una muestra de este proyecto. Haz click para abrirla. Se abrirá en una pestaña nueva."
              placement="bottom">
              <i class="fas fa-external-link-square-alt fa-fw"></i> Probar este proyecto
            </a>
          </div>
        </div>
      </section>

      <section class="description" [innerHTML]="portfolioElement.description">
      </section>
    </main>

    <hr />

    <footer>
      <a class="return" [routerLink]="'/projects'">
        <i class="fas fa-angle-double-left"></i> Volver a Proyectos
      </a>
    </footer>
  </div>

</section>

<ng-template #loadingProject>
  <app-loading></app-loading>
</ng-template>

<ng-template #noProject>
  <h1 class="text-uppercase">
    <i class="fas fa-exclamation-triangle fa-fw"></i>
    ¡Epa! ¡No existe este proyecto!
  </h1>

  <p>Estás buscando un proyecto que no está presente en este portafolio.</p>
  <p>Mejor prueba con los proyectos que si están presentes en el <a href="#" [routerLink]="'/projects'">portafolio</a>.</p>
</ng-template>

<ng-image-fullscreen-view
  [images]="imageObject"
  [imageIndex]="selectedImageIndex"
  [show]="showFlag"
  (close)="closeEventHandler()">
</ng-image-fullscreen-view>
